.movie-card {
  margin: 20px;
  border: 1px solid #010101;
  border-radius: 10px;
}

.movie-poster {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.movie-info {
  max-width: 300px;
  padding: 20px;
}

.movie-title {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.movie-overview {
  font-size: 16px;
  margin: 10px 0;
}

.movie-btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
}
